@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Roboto+Slab:wght@100;300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-charcoal text-cream font-sans antialiased;
}

.font-slab {
  font-family: 'Roboto Slab', serif;
}
